{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">

		<header>

			{% block header %}
				<div>

					<nav id="nav-main">

						<div id="logo">
							<div class="logo-noir" style="display:none"><a href="{{ site.url }}"><img id="logo-img" src="{{ theme.path }}/logo-noir.png" srcset="{{ theme.path }}/logo-noir.png 1x, {{ theme.path }}/logo-noir@2x.png 2x"></a></div>
							<a href="{{ site.url }}"><img id="logo-img" src="{{ theme.path }}/logo.png" srcset="{{ theme.path }}/logo.png 1x, {{ theme.path }}/logo@2x.png 2x"></a>
						</div>

						<a class="nav-icon"><img src="{{ theme.path }}/navigation.svg"></a>

						<div id="navigation-desktop">
							<div id="logo">
								<div class="logo-noir" style="display:none"><a href="{{ site.url }}"><img id="logo-img" src="{{ theme.path }}/logo-noir.png" srcset="{{ theme.path }}/logo-noir.png 1x, {{ theme.path }}/logo-noir@2x.png 2x"></a></div>
								<a href="{{ site.url }}"><img id="logo-img" src="{{ theme.path }}/logo.png" srcset="{{ theme.path }}/logo.png 1x, {{ theme.path }}/logo@2x.png 2x"></a>
							</div>
							{% include "menu.twig" with {'menu': menu.get_items} %}
						</div>

						<div id="navigation">
							<a class="nav-icon"><img src="{{ theme.path }}/navigation-fermer.svg"></a>
							{% include "menu.twig" with {'menu': menu.get_items} %}
							<div id="social">
								<a href="https://www.facebook.com/DulacDesign/"><img src="{{ theme.path }}/facebook.svg" alt="Dulac Design sur Facebook"></a>
							</div>
						</div>

					</nav><!-- #nav -->
				</div>
			{% endblock %}

		</header>

		<section id="content" role="main" class="content-wrapper">
			{% if title %}
				<h1>{{title}}</h1>
			{% endif %}

			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<script src="{{site.theme.link}}/site.min.js"></script>

	</body>
</html>
