{% extends "base.twig" %}

{% block content %}

  <div id="hero" style="background-image: url('{{TimberImage(post.get_field('img_entete')).src}}');">

    <div id="titre-de-page">
      <h1>{{ post.title }}</h1>
    </div>

  </div>

  <div class="texte">

    <div class="texte-centre">

      <p>{{post.get_field('texte_1')}}</p>

    </div>

  </div>

  <div class="valeur-container">

    <div class="valeur-txt texte">
      <div class="centre">
        <h2><p>{{post.get_field('valeur_1_titre')}}</p></h2>
        <p>{{post.get_field('valeur_1_texte')}}</p>
      </div>
    </div>

    <div class="valeur-img">
      <img src="{{TimberImage(post.get_field('valeur_1_img')).src}}"></img>
    </div>

  </div>

  <div class="texte bg-noir">

    <div class="texte-centre">

      <p>{{post.get_field('texte_2')}}</p>

    </div>

  </div>

  <div class="valeur-container">

    <div class="valeur-img">
      <img src="{{TimberImage(post.get_field('valeur_2_img')).src}}"></img>
    </div>

    <div class="valeur-txt texte">
      <div class="centre">
        <h2><p>{{post.get_field('valeur_2_titre')}}</p></h2>
        <p>{{post.get_field('valeur_2_texte')}}</p>
      </div>
    </div>

  </div>

  <div class="texte citation"  style="background-image: url('{{TimberImage(post.get_field('citation_bg')).src}}');">

    <div class="texte-centre centre-absolu">

      <p>{{post.get_field('citation')}}</p>

    </div>

  </div>

  <div class="texte">

    <div class="texte-centre">

      <p>{{post.get_field('texte_3')}}</p>

    </div>

  </div>


{% endblock %}
