{% extends "base.twig" %}

{% block content %}

  <div id="hero" style="background-image: url('{{TimberImage(post.get_field('img_entete')).src}}');">
  </div>

  <div id="informations">

    <div class="wrapper-contenu">

      <div id="intro">
        <p>{{post.get_field('introduction')}}</p>
      </div>

      <div class="btn">
        <a href="{{post.get_field('btn_esp')}}">En savoir plus</a>
      </div>

    </div>

  </div>

  <article>

    <div class="blog-img droite">
      <div style="background-image: url('{{TimberImage(post.get_field('prj1_photo')).src}}')"></div>
      <!-- <img src="{{TimberImage(post.get_field('prj1_photo')).src}}"> -->
    </div>

    <div class="blog-contenu gauche">

      <div class="blog-titre">
        <div class="wrapper-contenu">
          <h2>{{post.get_field('prj1_titre')}}</h2>
        </div>
      </div>

      <div class="blog-desc">
        <div class="wrapper-contenu">
          <p>{{post.get_field('prj1_desc')}}</p>
        </div>
      </div>

    </div>

  </article>

  <article>

    <div class="blog-img gauche">
      <img src="{{TimberImage(post.get_field('prj2_photo')).src}}">
    </div>

    <div class="blog-contenu droite">

      <div class="blog-titre">
        <div class="wrapper-contenu">
          <h2>{{post.get_field('prj2_titre')}}</h2>
        </div>
      </div>

      <div class="blog-desc">
        <div class="wrapper-contenu">
          <p>{{post.get_field('prj2_desc')}}</p>
        </div>
      </div>

    </div>

  </article>

  <article>

    <div class="blog-img droite">
      <img src="{{TimberImage(post.get_field('prj3_photo')).src}}">
    </div>

    <div class="blog-contenu gauche">

      <div class="blog-titre">
        <div class="wrapper-contenu">
          <h2>{{post.get_field('prj3_titre')}}</h2>
        </div>
      </div>

      <div class="blog-desc">
        <div class="wrapper-contenu">
          <p>{{post.get_field('prj3_desc')}}</p>
        </div>
      </div>

    </div>

  </article>

  <article class="citation">
      <p>{{post.get_field('citation')}}</p>
  </article>

  <div id="creations" style="background-image: url('{{ theme.path }}/bg-creations.jpg')">
    <div id="lien-creations">
      <a href="{{post.get_field('lien_page_realisation')}}">Voir toutes nos réalisations</a>
    </div>
  </div>

  <div id="contact" class="bloc">

    <div class="wrapper-contenu">

      <h2>Contactez-nous</h2>

      <p>{{post.get_field('ctct_desc')}}</p>

    </div>

  </div>

{% endblock %}
