{% extends "base.twig" %}

{% block content %}

  <div id="hero" style="background-image: url('{{TimberImage(post.get_field('img_entete')).src}}');">

    <div id="titre-page" class="btn centre-absolu">

      <a href="{{post.get_field('lien_decouvrir')}}">Découvrir</a>

    </div>

  </div>

  <div class="texte">

    <div class="texte-centre">

      <p>{{post.get_field('introduction')}}</p>

    </div>

    <div class="btn">
      <a href="{{post.get_field('btn_esp')}}">En savoir plus</a>
    </div>

  </div>

  <div class="projet-container">

    <div class="projet-img">
      <img src="{{TimberImage(post.get_field('prj1_photo')).src}}"></img>
    </div>

    <div class="projet-txt texte">

      <h2>{{post.get_field('prj1_titre')}}</h2>
      <p>{{post.get_field('prj1_desc')}}</p>

    </div>

  </div>


  <div class="projet-container">

    <div class="projet-img">
      <img src="{{TimberImage(post.get_field('prj2_photo')).src}}"></img>
    </div>

    <div class="projet-txt texte">

      <h2>{{post.get_field('prj2_titre')}}</h2>
      <p>{{post.get_field('prj2_desc')}}</p>

    </div>

  </div>

  <div class="projet-container">

    <div class="projet-img">
      <img src="{{TimberImage(post.get_field('prj3_photo')).src}}"></img>
    </div>

    <div class="projet-txt texte">

      <h2>{{post.get_field('prj3_titre')}}</h2>
      <p>{{post.get_field('prj3_desc')}}</p>

    </div>

  </div>

  <div class="texte citation">

    <div class="texte-centre">

      <p>{{post.get_field('citation')}}</p>

    </div>

  </div>


  <div class="cta" style="background-image: url('{{TimberImage(post.get_field('cta_bg')).src}}')">

    <div class="cta-lien centre-absolu">
      <a href="{{post.get_field('cta_lien')}}">Voir toutes nos créations</a>
    </div>

  </div>

  <div class="contact texte">

    <div class="texte-centre">

      <h2>Contactez-nous</h2>

      <p>{{post.get_field('ctct_desc')}}</p>

    </div>

  </div>

{% endblock %}
